@model IEnumerable<EF_Sample07.DomainClasses.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Product", "Create") | @Html.ActionLink("Create New Category", "CreateCategory") | <a href="/elmah">Elmah-MVC</a>
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Category
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
    </tr>
}

</table>
